@use "../../assets/styles/color"as *;

.right-panel {
    display: none;
    min-width: 425px;
    overflow: auto;
}

.right-panel tbody tr:nth-child(odd) {
    background-color: $selago;
}

.right-panel tbody tr:nth-child(even) {
    background-color: $alabaster;
}

.right-panel table th,
td {
    font-size: 12px;
    min-width: 200px;
    padding: 5px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    width: 200px;
    word-break: break-word;
}

.right-panel table thead th {
    border-bottom: 2px solid $bismark;
    padding-top: 8px;
}

@media screen and (min-width: 768px) {
  .right-panel {
    display: block;
  }
}
