body {
  background: #f4fbff;
  color: #466c83;
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue',helvetica,arial,sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
}

header {
  position: fixed;
  height: 60px;
  width: 100%;
}

header h1 {
  font-weight: 200;
  margin: 10.5px 0;
}

nav {
  position: fixed;
  left: 40px;
  right: 40px;
  top: 60px;
  height: 45px;
  background: #aec4d1;
  padding-left: 39px;
  border: 1px solid #85a6ba;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  height: 36px;
  margin: 10px 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li button {
  cursor: pointer;
  width: 120px;
  height: 100%;
  color: #466c83;
  border: 0;
  background-color: unset;
}

nav ul li button.active {
  background-color: #FFF;
  border: 1px solid #85a6ba;
  border-bottom: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

main {
  position: absolute;
  top: 107px;
  left: 40px;
  right: 40px;
  bottom: 9px;
  background-color: #fff;
  border: 1px solid #85a6ba;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'helvetica neue',helvetica,arial,sans-serif;
  font-size: 12px;
}

.json-body-wrapper {
  display: flex;
}

.beautified-wrapper {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

.right-panel {
  overflow: auto;
}

.right-panel table, th, td {
  border: 1px solid;
}

.right-panel table th, td {
  min-width: 200px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word; 
}

textarea {
  position: absolute;
  left: 0;
  right: 1px;
  border: 0;
  top: 0;
  bottom: 1px;
  outline: none;
}

.expand-collapse-btn {
  height: 9px;
  line-height: 6px;
  padding: 0;
  width: 12px;
}

.brackets-btn {
  border: 0;
  color: blue;
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;
}

.btn-wrapper {
  display: inline-block;
  align-items: center;
}

.prop-name {
  font-size: 13px;
  color: #92A8D1;
  border: 0;
  padding: 0;
  background-color: unset;
  cursor: pointer;
}

.prop-value-boolean, .prop-value-object {
  color: #0072B5;
}

.prop-value-number {
  color: #009B77;
}

.prop-value-string {
  color: #FF6F61;
}

span[class^="prop-value"] {
  font-size: 13px;
  font-weight: 400;
}

.beautified-wrapper ul {
  list-style-type: square;
  margin: 0;
  padding-left: 27px;
  border-left: 1px dotted;
  margin-left: 24px;
}

.beautified-wrapper ul li {
  position: relative;
}

.beautified-wrapper ul .prop-name:before {
  content: '';
  border-bottom: 1px dotted;
  position: absolute;
  transform: translateY(-50%);
  top: 9px;
  left: -27px;
  width: 16px;
  z-index: 1;
}

.beautified-wrapper .prop-object > .prop-name:before {
  left: 11px;
  width: 7px;
}

.show {
  display: block;
}

.hide {
  display: none;
  transition: opacity 0.5s linear;
}

.prop-object {
  position: relative;
  margin-left: -33px;
  list-style: none;
}

.prop-value-object .btn-wrapper {
  position: absolute;
  left: 0;
}

.prop-object > .prop-name {
  margin-left: 39px;
}
